
// Variables
$header-height: 70px;
$footer-height: 40px;

#grid-container {
    height: 100%;
    background: linear-gradient(
        to bottom,
        var(--bg-gradient-top) 0%,
        var(--bg-gradient-top) 30%,
        var(--bg-gradient-bottom) 80%,
        // var(--bg-gradient-bottom) 100%,
    );
    display: grid;
    grid-template-rows: $header-height 1fr $footer-height;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}
