
// Variables
$header-height: 70px;
$footer-height: 40px;

body {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

// * {
//     transition: $default-transition;
// }

#grid-container {
    height: 100%;
    background: linear-gradient(
        to bottom,
        var(--body-bg-gradient-top) 0%,
        var(--body-bg-gradient-middle) 60%,
        var(--body-bg-gradient-bottom) 100%,
    );
    display: grid;
    grid-template-rows: $header-height 1fr $footer-height;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}
