// Nav

#nav {
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    height: 100%;
    min-height: 100%;
    width: 30%;
    min-width: 350px;
    background-color: var(--nav-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),0 6px 20px 0 rgba(0, 0, 0, 0.4);
    animation: slide-in .2s ease, slide-out .2s ease;

    > * {
        height: 100%;
        width: 100%;
        padding: 0 24px;
        
        .nav-header {
            height: 70px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            user-select: none;
        
            #nav-close {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 40px;
                width: 40px;
                border-radius: 4px;
                font-size: 32px;
                color: var(--header-text);
                transition: $default-transition;
            }
        
            #nav-close:hover { 
                background-color: var(--nav-option-hover);
            }
        } 

        hr {
            margin: 24px 0;
            border: 1px solid rgb(220, 220, 220);  
        }

        .projects-title {
            margin: 24px 0;
            font-family: "Paytone One", sans-serif;
            color: var(--nav-text);
        }
    }
}

#nav:modal {
    max-height: 100vh;
    max-width: 100vh;
}

#nav::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#nav:not(.show) {
    translate: translateX(-100%);
}

@keyframes slide-in {
    0% { transform: translateX(-100%) }
    100% { transform: translateX(0%) }
}

.nav-tasks,
.nav-projects {
    color: var(--nav-text);

    display: grid;
    grid-auto-rows: 60px;
    gap: 4px;
    
    a {
        padding-left: 32px;
        border-radius: 8px;
        color: inherit;
        transition: $default-transition;

        display: flex;
        align-items: center;
        gap: 16px;
    }

    a.active {
        padding-left: 16px;
        background-color: var(--nav-option-hover);
    }

    a:hover {
        background-color: var(--nav-option-hover);
    }
}

#add-project {
    height: 60px;
    margin-top: 4px;
    padding-left: 32px;
    border-radius: 8px;
    user-select: none;

    display: flex;
    align-items: center;
    gap: 16px;

    > * {
        height: 100%;
        background-color: transparent;
    }
    span {
        font-size: 24px;
        font-weight: 300;
        color: var(--nav-input-text);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-input {
        padding: 4px 8px;
        padding-left: 0;
        font-size: 1.17em;
        font-weight: 400;
        color: var(--nav-input-text);
    }
}

#add-task:hover {
    background-color: $background-hover;
}
