// Nav

#nav {
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    height: 100%;
    min-height: 100%;
    width: 30%;
    min-width: 350px;
    background-color: var(--nav-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    animation: slide-in .2s ease, slide-out .2s ease;

    > * {   
        height: 100%;   // Required for click outside of nav to close function
        width: 100%;    // Required for click outside of nav to close function
        padding: 0 24px;
        user-select: none;
    }
}

#nav:modal {
    max-height: 100vh;
    max-width: 100vh;
}

#nav::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slide-in {
    0% { transform: translateX(-100%) }
    100% { transform: translateX(0%) }
}

.nav-header {
    height: 70px;

    display: flex;
    align-items: center;
    
    #nav-close {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 4px;
        font-size: 32px;
        color: var(--header-text);
        transition: $default-transition;
    }
    #nav-close:hover { 
        background-color: var(--nav-option-hover);
    }
}

nav.nav-links {
    margin-top: 24px;
    display: grid;
    grid-template-rows: repeat(2, 60px) repeat(2, max-content);
    grid-auto-rows: 60px;
    gap: 4px;

    > * {
        color: var(--nav-text);
        transition: $default-transition;
    }
    .nav-item {
        padding-left: 32px;
        padding-right: 16px;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        > * {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
         .my-day-count,
        .all-tasks-count,
        .project-count {
            height: 32px;
            width: 32px;

            border-radius: 50%;
            background-color: var(--body-bg-gradient-top);
            font-size: 1.17em;
            font-weight: 400;
            color: white;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .project-delete {
            display: none;
        }
    }
    .nav-item.active {
        padding-left: 16px;
        background-color: var(--nav-option-hover);
    }
    .nav-item:hover {
        background-color: var(--nav-option-hover);

        .project-delete {
            display: block;
        }
    }
    hr {
        margin-top: 24px;
        border: 1px solid rgb(220, 220, 220);  
    }
    .projects-title {
        margin: 24px 0;
        font-family: "Paytone One", sans-serif;
        color: var(--nav-text);
    }
}

#add-project {
    height: 60px;
    margin-top: 4px;
    padding-left: 32px;
    border-radius: 8px;
    transition: $default-transition;
    
    display: flex;
    align-items: center;
    gap: 16px;

    > * {
        height: 100%;
        background-color: transparent;
    }
    span {
        font-size: 24px;
        font-weight: 300;
        color: var(--nav-input-text);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-input {
        font-size: 1.17em;
        font-weight: 400;
        color: var(--nav-input-text);
    }
}

#add-project:hover {
    background-color: $background-hover;
}
