// Queries

@media only screen and (max-width: 768px) {
    #grid-container {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    header > .title > p {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    dialog#nav {
        width: 100%;
    }
}
