// Queries

@media only screen and (max-width: 768px) {
    #grid-container {
        padding: 0;
    }
    dialog#nav,
    dialog#task {
        width: 350px;
    }
    dialog#task {
        left: calc(100% - 350px);
    }
}

@media only screen and (max-width: 500px) {
    header > .title > p {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    dialog#nav {
        width: 100%;
    }
}
