// Task Modal

$task-header-height: 70px;
$task-footer-height: 70px;

.task-editable {
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
}
.task-editable:hover {
    background-color: var(--modal-option-hover);
}

#task {
    position: fixed;
    z-index: 1;
    top: 0;
    left: calc(100% - 475px);
    height: 100vh;
    min-height: 100vh;
    width: 475px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    animation: task-slide-in .2s ease;

    > * {
        height: 100%;   // Required for click outside of nav to close function
        width: 100%;    // Required for click outside of nav to close function
        padding: 0 24px;
        user-select: none;
        color: var(--modal-text);
        background-color: var(--modal-bg-2);

        display: grid;
        grid-template-rows: $task-header-height 1fr $task-footer-height;
    }
}



.taskModal-header {
    height: $nav-header-height;

    display: flex;
    align-items: center;
    justify-content: end;
    
    #task-close {
        height: 40px;
        width: 40px;
        border-radius: 4px;
        font-size: 32px;
        transition: $default-transition;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    #task-close:hover { 
        background-color: var(--modal-option-hover);
    }
}

.taskModal-content-scroll {
    overflow-y: hidden; // Required for task scrolling on overflow

    .taskModal-content {
        max-height: 100%; // Required for task scrolling on overflow
        overflow-y: auto; // Required for task scrolling on overflow
    
        display: grid;
        grid-template-rows: minmax(70px, max-content) 1fr minmax(140px, max-content);
        grid-auto-rows: max-content;
        gap: 24px;
        grid-template-areas:
            "title"
            "info"
            "note";

        > * {
            padding: 12px;
            border-radius: 4px;
            background-color: var(--modal-bg);
        }
        .title {
            grid-area: title;

            display: grid;
            grid-template-columns: 44px 1fr;
            gap: 8px;
            grid-template-areas:
                "checkbox title";
    
            #task-checkbox {
                grid-area: checkbox;
                justify-self: center;
                height: 28px;
                width: 28px;
                margin-top: 8px;
                border-radius: 50%;
                border: 3px solid grey;
                background-color: white;
                appearance: none;
                -webkit-appearance: none;
                cursor: pointer;
                pointer-events: auto;
            }
            #task-checkbox:checked {
                background-color: var(--body-bg-gradient-top);
            }
            #task-title {
                grid-area: title;
                align-self: center;
                text-wrap: wrap;
                overflow: auto;       
            }
            #task-title.task-complete {
                color: grey;
                text-decoration: line-through;
                text-decoration-thickness: 1px;
            }

        }
        .info {
            grid-area: info;


        }
        .note {
            grid-area: note;

            #task-note {
                resize: none;
                height: 100%;
                width: 100%;
                font-size: 1.17em;
                font-weight: 400;
                color: var(--modal-input-text);
            }

        }
    }
    .taskModal-content::-webkit-scrollbar {
        width: 8px;
    }
    .taskModal-content::-webkit-scrollbar-thumb {
        background-color: var(--content-title-text);
    }
}

.taskModal-footer {
    display: grid;
    grid-template-columns: 1fr 44px;

    > * {
        align-self: center;
        justify-self: center;
    }
    #task-creation {
        font-size: 18px;

    }
    #task-delete {
        height: 40px;
        width: 40px;
        border-radius: 4px;
        font-size: 32px;
        transition: $default-transition;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    #task-delete:hover { 
        background-color: var(--modal-option-hover);
    }
}

#task:modal {
    max-height: 100vh;
    max-width: 100vh;
}

#task::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes task-slide-in {
    0% { transform: translateX(100%) }
    100% { transform: translateX(0%) }
}