// Credit for implementing SCSS themes: https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1

$default-transition: 
    color .3s ease-in-out,
    background-color .15s ease-in-out,
    box-shadow .3s ease-in-out,
    transform .3s ease-in-out;

$light-theme: (
    'bg-gradient-top': #32767d,
    'bg-gradient-bottom': #f7d9cf,
    'nav-text': #fff,

    // Theme button colours
    'icon-sun': #997f44,
    'icon-moon': #b1b0b5,
    'switch-circle-bg': #ffd371,
    'switch-circle-pos': 4px,
);

$dark-theme: (
    'bg-gradient-top': #374280,
    'bg-gradient-bottom': #aa9289,
    'nav-text': #fff,

    // Theme button colours
    'icon-sun': #b1b0b5,
    'icon-moon': #dce3ff,
    'switch-circle-bg': #7190ff,
    'switch-circle-pos': 40px,
);
