// Variables

$background: rgba(255, 255, 255, 0.7);
$background-hover: rgba(255, 255, 255, 0.9);
$background-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

$default-transition: 
    fill .1s ease-in-out,
    color .1s ease-in-out,
    background-color .1s ease-in-out,
    box-shadow .1s ease-in-out,
    transform .1s ease-in-out;