// CSS reset file

// Set core body defaults
body {
    height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

// Remove default properties
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

// Box sizing rules
*, *::before, *::after {
    box-sizing: border-box;
}

// Improve media defaults
img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
}

// Inherit font for inputs and buttons
input, button, textarea, select {
    font: inherit;
}

// Avoid text overflows
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

// Set core root defaults
html:focus-within {
    scroll-behavior: smooth;
}

// Create a root stacking context
#root, #__next {
    isolation: isolate;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
